/* Profile.css */

/* Default styles for larger screens */
.form-container {
    width: 40rem;
    height: 40rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  /* Responsive styles for smaller screens (e.g., mobile) */
  @media (max-width: 768px) {
    .form-container {
      width: 100%;
      display: flex;
    justify-content: center;
    }
  }
  